URxvt.loginShell: true
URxvt.saveLines: 8192
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.scrollBar_floating: false
URxvt.buffered: true
URxvt.visualBell: false
!URxvt.font: xft:Source Code Pro for Powerline:size=16
URxvt.font: xft:Source Code Pro:size=16
URxvt.tabbed.saveLines: 2000
URxvt.iso14755: false
URxvt.cursorBlink: true
URxvt.cursorUnderline: true
URxvt.chdir: /home/henning/
URxvt.url-launcher: firefox
URxvt.borderColor: [90]#0f0f0f
URxvt.internalBorder: 0
URxvt.externalBorder: 0
URxvt.depth: 32
! special
URxvt.foreground:   #ffffff
URxvt.background:   [70]#0f0f0f
URxvt.cursorColor:  #ffffff

!! black
*color0: #1b1918
*color8: #766e6b
!! red
*color1: #f22c40
*color9: #f22c40
!! green
*color2: #5ab738
*color10: #5ab738
!! yellow
*color3: #d5911a
*color11: #d5911a
!! blue
*color4: #407ee7
*color12: #407ee7
!! magenta
*color5: #6666ea
*color13: #6666ea
!! cyan
*color6: #00ad9c
*color14: #00ad9c
!! white
*color7: #a8a19f
*color15: #f1efee

